{% extends 'base.html.twig' %} {% block title %}Création compte patient{%
endblock %} {% block body %}

{{ form_errors(registrationForm) }}
<div class="row justify-content-md-center my-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center mb-4">
          Création d'un compte patient
        </h1>
        {{ form_start(registrationForm) }}
        <div class="mb-2">
          <div class="card bg-light">
            <div class="card-body">
              <div class="form-group">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
                <div class="form-errors text-danger">
                  {{ form_errors(registrationForm.email) }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form_label(registrationForm.password.first) }}
                    {{ form_widget(registrationForm.password.first) }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form_label(registrationForm.password.second) }}
                    {{ form_widget(registrationForm.password.second) }}
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="form-errors text-danger">
                    {{ form_errors(registrationForm.password.first) }}
                    {{ form_errors(registrationForm.password.second) }}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row indicator mb-3" id="complexityIndicator">
                    <div class="col-md-4">
                      <div id="uppercaseIndicator">1 majuscule</div>
                    </div>
                    <div class="col-md-4">
                      <div id="lowercaseIndicator">1 minuscule</div>
                    </div>
                    <div class="col-md-4">
                      <div id="intcaseIndicator">1 chiffre</div>
                    </div>
                    <div class="col-md-4">
                      <div id="specialCharIndicator">1 caractére spécial</div>
                    </div>
                    <div class="col-md-4">
                      <div id="lengthIndicator">8 caractères minimum</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card bg-light mt-2">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form_label(registrationForm.lastname) }}
                    {{ form_widget(registrationForm.lastname) }}
                    <div class="form-errors text-danger">
                      {{ form_errors(registrationForm.lastname) }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form_label(registrationForm.firstname) }}
                    {{ form_widget(registrationForm.firstname) }}
                    <div class="form-errors text-danger">
                      {{ form_errors(registrationForm.firstname) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                {{ form_label(registrationForm.patient.adlibelle) }}
                {{ form_widget(registrationForm.patient.adlibelle) }}
                <div class="form-errors">
                  {{ form_errors(registrationForm.patient.adlibelle) }}
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    {{ form_label(registrationForm.patient.adcp) }}
                    {{ form_widget(registrationForm.patient.adcp) }}
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group">
                    {{ form_label(registrationForm.patient.adcity) }}
                    {{ form_widget(registrationForm.patient.adcity) }}
                  </div>
                </div>
              </div>
              <div class="form-errors">
                {{ form_errors(registrationForm.patient.adcp) }}
                {{ form_errors(registrationForm.patient.adcity) }}
              </div>
              <div class="form-group">
                {{ form_label(registrationForm.patient.adcountry) }}
                {{ form_widget(registrationForm.patient.adcountry) }}
                <div class="form-errors">
                  {{ form_errors(registrationForm.patient.adcountry) }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group my-4">
            <p class="text-justify font-weight-bold">
              <span class="text-danger">*</span>
              Votre inscription entraînera la création de votre compte patient
              et, par là même, l'acceptation de votre part de nos conditions
              générales. Veuillez trouver en bas de page des renseignements
              relatifs à votre droit de rétractation et au traitement de vos
              données.
            </p>
          </div>
          <div class="form-group text-center">
            <button
              type="submit"
              name="createAccount"
              class="btn btn-primary mb-8 mt-4"
            >
              S'enregistrer
            </button>
          </div>
        </div>
        {{ form_end(registrationForm) }}
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block javascripts %}

{{ parent() }}
<script src="{{ asset('build/js/verif-pwd.js') }}" defer></script>
{% endblock %}
