{% extends 'base.html.twig' %} {% block body %}

{{ form_errors(form) }}

{{ form_start(form) }}
<div class="container border border-5 rounded mt-2">
  <div class="row justify-content-md-center mb-4">
    <div class="col-6">
      <h1>Mise à jour de mes données</h1>
      <div class="form-group">
        {{ form_label(form.user.email) }}
        {{ form_widget(form.user.email) }}
        <div class="form-error text-danger">
          {{ form_errors(form.user.email) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            {{ form_label(form.user.lastname) }}
            {{ form_widget(form.user.lastname) }}
            <div class="form-error">
              {{ form_errors(form.user.lastname) }}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            {{ form_label(form.user.firstname) }}
            {{ form_widget(form.user.firstname) }}
            <div class="form-error">
              {{ form_errors(form.user.firstname) }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.adlibelle) }}
        {{ form_widget(form.adlibelle) }}
        <div class="form-error">
          {{ form_errors(form.adlibelle) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            {{ form_label(form.adcp) }}
            {{ form_widget(form.adcp) }}
            <div class="form-error">
              {{ form_errors(form.adcp) }}
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            {{ form_label(form.adcity) }}
            {{ form_widget(form.adcity) }}
            <div class="form-error">
              {{ form_errors(form.adcity) }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        {{ form_label(form.adcountry) }}
        {{ form_widget(form.adcountry) }}
        <div class="form-error">
          {{ form_errors(form.adcountry) }}
        </div>
      </div>

      <div class="form-group text-center d-grid gap-2">
        <button type="submit" class="btn btn-primary mb-8 mt-4">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>
{{ form_end(form) }}

{% endblock %}
