<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta name="robots" content="index, follow">

    <link
      rel="icon"
      type="image/x-icon"
      href="{{ asset('build/images/favicon.ico') }}"
    />
    <title>{% block title %}CHU SOIGNEMoi{% endblock %}</title>

    <link
      rel="icon"
      type="image/png"
      href="{{ asset('build/images/logoBlack.png') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      media="screen"
    />
    <!-- ✅ load jQuery ✅ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" defer></script>
    {% block stylesheets %}
    {% for file in encore_entry_css_files('app') %}
      <link rel="stylesheet" href="{{ file }}" media="screen">
    {% endfor %}
    
    {% endblock %}
     {% block javascripts %}
    {{
      encore_entry_script_tags("app")
    }}
    
    {% endblock %}
  </head>
  <body>
    {% include 'partials/_header.html.twig' %}
    <main class="page-wrap">{% block body %}{% endblock %}</main>
    {% include 'partials/_footer.html.twig' %}
  </body>
</html>
